@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
.post-content img:hover {
    transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
    transform: scale(1.05);
}
.row a {
   background-color: transparent;
   text-decoration: none;
   color: #00f4e8;
   transition: all .12s;
}
.row li:hover {
   text-shadow: 3px 3px 2px #2f2f2f57;
}
.row ol {
   counter-reset: xxx 0 !important;
}
.row ol li:before {
   content: counter(xxx,decimal) "." !important;
   counter-increment: xxx 1 !important; 
   position:absolute;
   font-family:'Comic Sans MS','Open Sans','Microsoft Yahei','Microsoft Yahei',-apple-system,sans-serif !important;
   top:0;
   left:0;
   text-align:center;
   font-size:1.2em;
   opacity:.5;
   line-height:1.54;
   text-shadow:4px 4px 1px rgba(0,0,0,.1);
   -webkit-transition:.5s;transition:.5s
}
.row ol li:hover:before {
   -webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);
   opacity:1;
   text-shadow:2px 2px 1px rgba(0,0,0,.1);
   -webkit-transition:.1s;transition:.1s
}
.row ol li {
   list-style:none;
   position:relative;
   padding:0 0 0 2.1em;
   margin:0 0 0 10px;
   text-shadow:0px 0px 0px rgba(0,0,0,.1);
   -webkit-transition:.12s;transition:.12s;
}
.row ul li:before {
   position:absolute;
   content:'\2022';
   font-family:Arial;
   top:0;
   left:0;
   text-align:center;
   font-size:1.5em;
   opacity:.5;
   line-height:1.35;
   text-shadow:4px 4px 1px rgba(0,0,0,.1);
   -webkit-transition:.5s;transition:.5s
}
span.post-near-span {
    transition: 0.3s;
}
body, button, input, optgroup, select, textarea {
    font-family: 'Mirages Custom', 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif !important;
}
img.biaoqing {
    box-shadow: 0px 0px 0px 0px #888888 !important;
}
#comment-form textarea {
    border-radius: 0.5rem !important;
    background: url(https://www.qxwlmz.cn/image/theme/textarea.gif) no-repeat;
    background-position: right;
    background-size: contain;
}
.comment-content pre {
    border-radius: 0.5rem !important;
}
#footer .container{
    font-size:15px;
    font-family: 'Mirages Custom', 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif !important;
}
.sidemenushuo {
    position: relative;
    margin: 2rem 2rem -1rem 2rem;
    font-weight: 900 !important;
}
.link-box img{
	border-radius: 0rem !important;
}
body.card #index article .post-card, body.card #archive article .post-card {
    border-radius: 0.5rem !important;
}
Top
Bottom
(https://www.qxwlmz.cn/image/theme/textarea.gif) no-repeat;
    background-position: right;
    background-size: contain;
}
blockquote:hover {
    border-left: .25rem solid #24c6cb !important;
    transition: all 0.8s !important;
    color: #b45a9b !important;
    text-shadow: 4px 4px 1px rgba(0,0,0,.1);
}
.post-content blockquote, .comment-content blockquote {
    transition: all 0.8s;
}
.comment-content pre {
    border-radius: 0.1rem !important;
}
.post-content hr:hover {
    background: #66ccff repeating-linear-gradient(45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
    text-shadow: 3px 3px 2px #2f2f2f57;
    transition: all .8s;
}
#footer .container{
    font-size:15px;
    font-family: 'Mirages Custom', 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif !important;
}
.sidemenushuo {
    position: relative;
    margin: 2rem 2rem -1rem 2rem;
    font-weight: 900 !important;
}
body.card #index article .post-card, body.card #archive article .post-card {
    border-radius: 0.1rem !important;
}
Top
Bottom
